{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment {{ a_obj.id }}</title>
    <link rel="stylesheet" href="{% static 'classroom/css/styleclass.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul>
              <li><a href="{% url 'user1' %}">Dashboard</a></li>
             <li><a href="{% url 'qna' %}">QNA section</a></li>
             <li><a href="#">Meeting</a></li>
             <li><a href="{% url 'profile' %}">Profile</a></li>
             <li><a href="{% url 'logout' %}">Logout</a></li>
             </ul>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Assignment</span>
        <div id="right">
            <img src="{{ request.user.profile.profile_pic.url }}" alt="" class="img-alpha">
        </div>

     
        <hr>
    <div>
    <div style="float: left; width: 12.5%"><pre></pre><!--<span style="color: white;">hffh</span> --></div>

    <div style="width: 75%; float: left;">

        <div style="height: 30vh; background-image:url({% static 'classroom/img/banner.jpg' %}); background-size: cover; color: antiquewhite; border-radius: 25px; text-align: center;">
            <h1>{{ a_obj.id }}   - Assignment</h1>    
        </div>
    <div>
        
    <div style="width: 15%; float: left;"><pre></pre></div>

    <div style="width: 70%; float: left;">
        <pre></pre>
        <div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'assign' data.id %}">Back</a>
            </div>
          </div>
        </div>
    <div>

     <!-- Submittion form -->
     <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="{% url 'submits' data.id a_obj.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Create Submission</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body mx-3">

              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" name="submit_text" class="form-control validate">
                <label data-error="wrong" data-success="right" for="defaultForm-email">Text</label>
              </div>
              
              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="file" name="submit_doc" class="form-control validate">
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Attachment (leave empty if none)</label>
              </div>
            
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <input type="submit" class="btn btn-default" value="Post">
            </div>

          </div>
        </div>
        </form>
      </div>
      

      {% if user.profile.typee == 'T' %}
      <br>
                <h6>{{stud_c}} students of {{ t_ctr }} Submitted.</h6>
                <br>
                <div style="float: left;">
                <h6>Following students submitted the Assignment</h6>
                <table>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Assignment Text</th>
                        <th scope="col">Assignment File</th>
                        <th scope="col">Score</th>
                        <th scope="col">Evaluate</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in stud %}

                      
       <!-- Score form -->
       <div class="modal fade" id="score" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="{% url 'eval_score' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Score</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body mx-3">

              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" name="score" class="form-control validate">
                <label data-error="wrong" data-success="right" for="defaultForm-email">Add Score</label>
              </div>            
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <input type="submit" class="btn btn-default" value="Post">
            </div>

          </div>
        </div>
        </form>
      </div>

                      <tr>
                        <td>{{ obj.sid.first_name }} {{ obj.sid.last_name }}</td>
                        <td>{{ obj.stext }}</td>
                        <td><a href="{{ obj.sfile.url }}">Download Submission</a></td>
                        <td>{{ obj.score }}</td>
                        <td>
                          <form action="{% url 'eval_score' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" value="{{ obj.id }}" name="submit_id">
                                           
                                <div class="md-form mb-5">
                                  <!-- <label data-error="wrong" data-success="right" for="defaultForm-email">Score</label> -->
                                  <input type="text" name="score" class="form-control validate"><br>  
                                  <input type="submit" class="btn btn-primary" value="Post">
                              </div>
                  
                          </form>
                  
                        </td>
                      </tr> 
                      {% endfor %}
                    </tbody>
                  </table>

                </table>
                
                </div>
                <!--
                <div style="float: right;">
                  <h6>Following students have not the Assignment</h6>
                  <ol>
                  </ol>
                </div>-->
      {% else %}
          <br><br>
                <div class="card" >
                  <div class="card-header">
                    Assignment
                    <div style="float: right;"></div>
                    {% if s_obj %}
                      <p style="color: chartreuse; float: right;">Submitted</p>
                    {% else %}
                    <p style="color: crimson; float: right;"> Not Submitted</p>
                    {% endif %}
                  </div>
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{ a_obj.wname }}</p>
                    <a href="{{ a_obj.filess.url }}" style="float: left;">Download Attachment</a>
                    {% if s_obj %}
                    {% for i in s_obj %}
                    <p style="float: right;">Score: {{ i.score }}</p>
                    {% endfor %}
                    {% else %}
                    <div class="text-center" style="float: right;">
                        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#submit" style="border: rgba(0, 0, 0, 0.1  ) solid; color: rgba(0, 0, 0, 0.5);">Create Submittion</a>
                    </div>
                    {% endif %}
                </div>

        {% endif %}
    </div>
    </div>

    </div>
    </div>
    </div>

    <script src="{% static 'classroom/js/scriptclass.js' %}">  </script>

    </body>
    </html>
