{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="{% static 'classroom/css/styleclass.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul>
              <li><a href="{% url 'user1' %}">Dashboard</a></li>
             <li><a href="{% url 'qna' %}">QNA section</a></li>
             <li><a href="#">Meeting</a></li>
             <li><a href="{% url 'profile' %}">Profile</a></li>
             <li><a href="{% url 'logout' %}">Logout</a></li>
             </ul>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Assignment</span>
        <div id="right">
            <img src="{{ request.user.profile.profile_pic.url }}" alt="" class="img-alpha">
        </div>

     
        <hr>
    <div>
    <div style="float: left; width: 12.5%"><pre></pre><!--<span style="color: white;">hffh</span> --></div>

    <div style="width: 75%; float: left;">

        <div style="height: 30vh; background-image:url({% static 'classroom/img/banner.jpg' %}); background-size: cover; color: antiquewhite; border-radius: 25px; text-align: center;">
            <h1>{{ data.name }}   - Assignment</h1>    
        </div>
    <div>
        
    <div style="width: 15%; float: left;"><pre></pre></div>

    <div style="width: 70%; float: left;">
        <pre></pre>
        <div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'classs' data.id %}">Announcements</a>
              <a class="dropdown-item" href="#">Quiz </a>
              <a class="dropdown-item" href="#">Something else</a>
            </div>
          </div>
        </div>
    <div>

          <br><br>
          {% if classcontent %}
          {% for obj in classcontent %}
                <div class="card" >
                  <div class="card-header">
                    Assignment
                    {% if user.profile.typee == 'T' %}
                    <div style="float: right;">
                      <form action="{% url 'del_work' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ obj.id }}" name = "announcement_id">
                        <button style="border: none; color: red;"> <i class="fa fa-trash"></i> </button>
                      </form>
                    </div>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{ obj.wname }}</p>
                    <a href="{{ obj.filess.url }}">download</a>
                    <!-- <iframe src="{{ obj.filess.url }}" style="width:600px; height:500px;" frameborder="0"></iframe> -->
                  </div>
                </div>
            	<br>

          {% endfor %}
          {% else %}
          {% if user.profile.typee == 'T' %}
          <p>No Assignments yet</p>
          {% else %}
          <p>Hurray, No assignments</p>
          {% endif %}
          {% endif %}
    
    </div>
    </div>

    </div>
    </div>
    </div>

    <script src="{% static 'classroom/js/scriptclass.js' %}">  </script>

    </body>
    </html>
