{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom</title>
    <link rel="stylesheet" href="{% static 'classroom/css/styleclass.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href = "{% static 'classroom/css/card.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
    
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul>
             <li><a href="#">Dashboard</a></li>
            <li><a href="{% url 'qna' %}">QNA section</a></li>
            <li><a href="#">Meeting</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; CLASSROOM  </span>
        <div id="right">
            <img src="{{ request.user.profile.profile_pic.url }}" alt="" class="img-alpha">
        </div>
        
        
       <div class="odropdown" id="right" style="padding: 0px 50px 0px 0px;">
           <!-- <button style="font-size: 30px; cursor: pointer; color: black; border-radius: 50%; background-color: white; " >&#x2b;</button> -->
           <svg focusable="false" width="24" height="24" viewBox="0 0 24 24" style="padding: 7px 0 0 0;">
            <path d="M20 13h-7v7h-2v-7H4v-2h7V4h2v7h7v2z"></path>
           </svg>
            <div class="odropdown-content">
                {% if user.profile.typee == 'S' %}<a href="{% url 'join_class' %}">JOIN CLASS</a>{% endif %}
                {% if user.profile.typee == 'T' %}<a href="{% url 'make_class' %}">CREATE CLASS</a>{% endif %}
                <a href="#">Link 3</a>
            </div>
       </div>
       
       <br><br>
       <hr>
<!-- courses card starts here -->
<section>
        <div class="container"> 
            <!-- <h1 class="heading">Meet The Team</h1>  -->
                <div class="card-wrapper"> 
                    {% for i in data %}
                    <div class="card"> 
                        <img src="https://i.pinimg.com/originals/92/59/65/9259654da727c0f2adcc1721ee1d1c7c.jpg" alt="card background" class="card-img"> 
                        <img src="{{ request.user.profile.profile_pic.url }}" alt="profile image" class="profile-img"> 
                        <h1>{{ i.tid.first_name }}</h1> 
                        <p class="job-title">{{ i.subject }}</p> 
                        <p class="about">
                        </p>
                        <form action="{% url 'classs' i.id %}" method="get">
                            <input type="submit" class="btn" value="Go to Class">
                        </form>
                        <ul class="social-media"> 
                            <li style="font-size: small;"><b>Class id : {{ i.id }}</b></li> 
                            <li></li> 
                            <li style="font-size: small;"><b>Total students : {% for key,value in ts.items %}{% if key == i.id %}{{ value }}{% endif %}{% endfor %}</b></li>
                            <li></li>  
                        </ul> 
                    </div> 
                {% endfor %}
                </div> 
        </div>
    </section>
         <script src="{% static 'classroom/js/scriptclass.js' %}">  </script>

</body>
</html>