{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'classroom/css/styleclass.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href = "{% static 'classroom/css/profile.css' %}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>      
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul>
             <li><a href="{% url 'user1' %}">Dashboard</a></li>
            <li><a href="{% url 'qna' %}">QNA section</a></li>
            <li><a href="#">Meeting</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; PROFILE  </span>
        <div id="right">
            <img src="" alt="" class="img-alpha">
        </div>
        
       <hr>

<!-- profile section starts here -->
<section>
    
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h2><b>
                                {{ user.first_name }} {{ user.last_name }}
                            </b></h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General Info</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="profile-work">
                    <button class="profile-edit-btn" name="btnAddMore" disabled><a href="{% url 'editprofile' %}">Edit Profile</a></button>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                   <button class="profile-edit-btn" name="btnAddMore" disabled><a href="{% url 'changePW' %}">Change Password</a></button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if user.profile.gender == 'M' %}
                                        <p> Male </p>
                                        {% else %}
                                        <p> Female </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.profile.birth_date }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Role</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% if user.profile.typee == 'T' %}
                                            <p> Teacher </p>
                                        {% else %}
                                            <p> Student </p>
                                        {% endif %}
                                    </div>
                                </div>
                    </div>
                    </div>
            </div>
        </div>
    </form>        
</div>
<!--end section-->
 
</section>

         <script src="{% static 'classroom/js/scriptclass.js' %}">  </script>

</body>
</html>