{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    <link rel="stylesheet" href="{% static 'classroom/css/styleclass.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul>
              <li><a href="{% url 'user1' %}">Dashboard</a></li>
             <li><a href="{% url 'qna' %}">QNA section</a></li>
             <li><a href="#">Meeting</a></li>
             <li><a href="{% url 'profile' %}">Profile</a></li>
             <li><a href="{% url 'logout' %}">Logout</a></li>
             </ul>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; CLASS  </span>
        <div id="right">
            <img src="{{ request.user.profile.profile_pic.url }}" alt="" class="img-alpha">
        </div>
     
        <hr>
    <div>
    <div style="float: left; width: 12.5%"><pre></pre></div>

    <div style="width: 75%; float: left;">

        <div style="height: 30vh; background-image:url({% static 'classroom/img/banner.jpg' %}); background-size: cover; color: antiquewhite; border-radius: 25px; text-align: center;">
            <h1>QnA</h1>    
        </div>
    <div>

        
    <div style="width: 15%; float: left;"><pre></pre></div>

    <div style="width: 70%; float: left;"><br>  



        <!-- Question form -->
        <div class="modal fade" id="question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form action="{% url 'q_ask' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Make Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

                               
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                <select id="subname" name="subname" class="form-control validate">
                  <option value="math">maths</option>
                  <option value="science">Science</option>
                  <option value="so st">social</option>
                  <option value="hindi">hindi</option>
                </select>
                <label for="subname">Subject</label>
                </div>
                </div>

              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <input type="text" name="qtxt" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-email">Question</label>
                </div>              
              </div>

              <div class="modal-footer d-flex justify-content-center">
                <input type="submit" class="btn btn-default" value="Ask">
              </div>

            </div>
          </div>
          </form>
        </div>



        <div style="float: left;">
        <form action="{% url 'qna' %}" method="POST">
          {% csrf_token %}
          <div style="float: left;">
        <select id="subname" name="subname" class="form-control validate">
          <option value="" >Select One</option>
          <option id="math" name="math" value="math" >maths</option>
          <option id="science" name="science" value="science">Science</option>
          <option id="so st" name="so st" value="so st">social</option>
          <option id="hindi" name="hindi" value="hindi">hindi</option>
        </select></div>
        <button class="btn btn-primary">Select</button>
        </form>
        </div>
          
          {% if user.profile.typee == 'S' %}
          <div style="float: right;">
            <div class="text-center">
                <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#question">Ask Question    </a>
              </div>
          </div>
        {% endif %}
        
        <pre></pre><br><br>
        <!-- card -->
        {% for obj in q %}


                <div class="card" >
                  <div class="card-header">
                    Question
                  </div>
                  <div class="card-body">
                    {% if user.profile.typee == 'S' %}
                    <div >
                    <b class="card-text">{{ obj.question }}</b>
                    <p class="card-text">{{ obj.answer }}</p>
                    </div>
                    {% endif %}
                    {% if user.profile.typee == 'T' %}
                    <div style="float: left;">
                      <b class="card-text">{{ obj.question }}</b>
                      <p class="card-text">{{ obj.answer }}</p>
                      <p>Asked By {{ obj.sid.first_name }} {{ obj.sid.last_name }} on {{ obj.date }}</p>          
                      </div>
                    <div style="float: right;">

                      <form action="{% url 'answer' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="pkid" value="{{ obj.id }}">

                            <input type="text" name="atxt" class="form-control validate">
                            <input type="submit" class="btn btn-primary" value="Answer">

                      </form>
                    </div>
                    {% endif %}
                    <br>
                    {% if user.profile.typee == 'S' %}
                    <div style="float: right;">
                    <p>Asked By {{ obj.sid.first_name }} {{ obj.sid.last_name }} on {{ obj.date }}</p>
                    </div>
                    {% endif %}
                  </div>
                </div>
              <br>
          {% endfor %}
    </div>
    </div>

    </div>
    </div>
    </div>

    <script src="{% static 'classroom/js/scriptclass.js' %}">  </script>

</body>
</html>